body {
    font-family: Montserrat;
    height: 650px;
    width: 1280px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    letter-spacing: 3.3px;
}

.navbar_link {
    color: rgba(255, 0, 0, 1);
    text-decoration: none;
    margin: 72px;
    font-weight: 700;
    font-size: 18px;

}

.navbar {
    display: flex;
    justify-content: center;
    padding: 25.5px;
}

.content {
    text-align: center;
}

.Headline {
    margin-top: 48px;
    font-weight: 700;
    font-size: 22px;

}

.content_first {
    font-weight: 400;
    font-size: 16px;
    padding: 38px;
}

.conntent_second {
    font-weight: 400;
    font-size: 16px;
    padding: 28px;
}

.btn {
    background: #FF0000;
    border-radius: 4px;
    border: none;
    color: white;
    width: 191px;
    height: 51px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin: 66px;
}

.footer {
    display: flex;
    justify-content: end;
}

.license {

    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 105px;
    margin-bottom: 29px;
}